.banner {
    background-color: #40916c;
    padding: 20px;
}

.banner-text {
    text-align: left;
}

.banner-text h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

h1 {
    color: #40916c;
    font-size: 36px;
}

h2 {
    color: #40916c;
    font-size: 30px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #b7e4c7;
}

.container {
    width: 60vmin;
    height: 40vmin;
    margin: 0 auto;
    border: 20px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 30s infinite;
}

.wrapper img {
    width: 70vmin;
    height: 40vmin;
    object-fit: contain;

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300%);
    }
}

section.input button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #40916c;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

#ingredients::placeholder {
    font-size: 16px;
}

section.contact-us {
    background-color: #d8f3dc;
    padding: 50px;
    margin: 0 auto;
    max-width: 600px;
    align-items: center;
}

section.contact-us label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

section.contact-us input,
section.contact-us textarea {
    display: block;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

section.contact-us button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #40916c;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}
